.gradient{
    margin-top: 22px;
    width: 80%;
    float: right;
    height: 50px;
    background: #B22022;
    background: linear-gradient(to bottom, #B22022, #EB2125);
    padding: 10px;
    border: 1px solid #333;
}
.header-logo{
    width: auto;
    height: 167px;
    margin-top: -50px;
    margin-left: 55px;
}
@media screen and (max-width: 960px){
    .gradient{
        width: 90%;
    }
}