footer-directive{
    width: 100%;
    position: absolute;
    bottom:0;
}
footer-directive hr{
    border-color:red;
}
.menu{
    padding:0;
    width: 80%;
    margin:0 auto;
    min-width:250px;
    max-width:965px;
}
.menu ul{
    display:table-row;
}
.menu ul li{
    display:table-cell;
    width:auto;
    height:50px;
    vertical-align:bottom;
}
.menu .footer-logo{
    color:red;
    position: absolute;
    width: auto;
    height: 50px;
    right: 180px;
    top:15px;
}
.menu ul li a{
    color:white;
    font:14px Verdana;
    text-decoration:none;
    height:50px;
    display:table-cell;
    width:1000px;
    vertical-align:middle;
    text-align:center;
}
.menu .footer-site-href{
    width:320px;

    padding-right: 15px;
}
.menu .footer-site-href a{
    text-align: right;
}
@media screen and (max-width: 750px){
    .menu ul li{
        display: table-row;
        height: 25px;
    }
    .menu ul li a{
        height:20px;
    }
    .menu .footer-site-href a{
        text-align: center;
    }
}

