.main-class{
    background: url(../images/background_image.jpg) no-repeat;
    background-size: cover;
    position: fixed;
    width: 100%;
    height: 100%;
}
.header-block{
    color:white;
    width:60%;
    margin:0 auto;
    padding-top: 120px;
    padding-bottom:80px;
}
.main-part{
    position: relative;
    clear: both;
    margin-left: 20%;
    width: 60%;
}
.middle-block{
    clear: both;
    width: 70%;
    margin:0 auto;
    padding-bottom: 200px;
    padding-top: 111px;
}
.main-class hr{
     border-color:red;
 }
.footer-block{
    width:100%;
    position: fixed;
    bottom: 10px;
}
.left-side,
.right-side{
    width:50%;
    border:1px solid red;
}
.left-side{
    float:left;
}
.right-side{
    float:right;
}
@media screen and (max-width: 960px){
    .main-part {
        clear: both;
        margin-left: 10%;
        width: 80%;
    }
    .header-block{
        width: 90%;
        padding-bottom:50px;
        padding-top: 65px;
    }
}
@media screen and (max-width: 760px) {
    .left-side,
    .right-side{
        width:100%;
    }
}