@font-face {
    font-family: mavenproblack;
    src: url(../fonts/mavenproblack.ttf);
}
@font-face {
    font-family: mavenprobold;
    src: url(../fonts/mavenprobold.ttf);
}
@font-face {
    font-family: mavenpromedium;
    src: url(../fonts/mavenpromedium.ttf);
}
@font-face {
    font-family: mavenproregular;
    src: url(../fonts/mavenproregular.ttf);
}
@font-face {
    font-family: peignot;
    src: url(../fonts/Peignot.ttf);
}
h3{
    color:white;
    font-family:mavenproregular;
    margin-bottom:20px;
}
.center-block{
    color:white;

    padding:70px 10px 10px 10px;
    margin-left:20%;
}
.background-class{
    position: absolute;
    font-family: mavenproregular;
    width: 100%;
    height: 100%;
    background-image: url(../images/background.jpg);
    background-repeat:no-repeat;
    background-size:cover;
}
.left-side{
    float:left;
}
.right-side{
    float:right;
}
.clear-block{
    clear:both;
}
.new-line{
    display:none;
}
@media screen and (max-width: 750px){
    h3{
        margin-bottom:10px;
    }
    .center-block{
        margin-left:20px;
    }
    .left-side, .right-side{
        width:100%;
    }
}