.middle-block.kontakt-block{
    padding-top:0;
}
.middle-block.kontakt-block .content-block{
    margin:0 auto;
}
.middle-block.kontakt-block .header-block,
.middle-block.kontakt-block .content-block{
    color:white;
    width:80%;
}
.right-side img{
    width:100%;
    padding:5px;
    border:1px solid #444849;
}
@media screen and (max-width: 960px) {
    .middle-block.kontakt-block{
        width: 90%;
    }
    .middle-block.kontakt-block .header-block,
    .middle-block.kontakt-block .content-block{
        width: 90%;
    }
}
@media screen and (max-width: 380px) {
    .middle-block.kontakt-block{
        width: 100%;
    }
    .middle-block.kontakt-block .header-block,
    .middle-block.kontakt-block .content-block{
        width: 100%;
    }
}